apiVersion: v1
kind: Service
metadata:
  name: {{ include "xilian.fullname" . }}-app
  namespace: {{ include "xilian.namespace" . }}
  labels:
    {{- include "xilian.labels" . | nindent 4 }}
    app.kubernetes.io/component: app
spec:
  type: {{ .Values.app.service.type }}
  ports:
    - port: {{ .Values.app.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "xilian.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: app
